<div *ngIf="card">
  <div class="pikky-card d-flex flex-column justify-content-between">
    <div>
      <pikky-textarea
        placeholder="Key"
        [(ngModel)]="card.key"
        [disabled]="isDisabled"
        [maxlength]="40"
        class="textarea-bold">
      </pikky-textarea>

      <pikky-textarea
        placeholder="Description"
        [maxlength]="160"
        [maxRows]="5"
        [(ngModel)]="card.description"
        [disabled]="isDisabled">
      </pikky-textarea>
    </div>

    <div class="d-flex justify-content-between align-items-center w-100">
      <p class="pikky-card-author">{{username}}</p>
      <div class="d-flex align-items-center">
        <img src="../../../../assets/images/icons/trash.svg"
             class="icon"
             (click)="deleteCard()"
             alt="delete">
        <img *ngIf="card.viewType !== cardViewTypes.Edit"
             src="../../../../assets/images/icons/edit.svg"
             class="icon ms-1"
             (click)="editCard()"
             alt="edit">
      </div>
    </div>
  </div>
  <div class="mt-2">
    <button *ngIf="card.viewType == cardViewTypes.Edit"
            (click)="saveCard()"
            class="save">Save</button>
  </div>
</div>
