@import 'src/assets/styles/variables';

:host {
  position: relative;
}

.pikky-card {
  width: 283px;
  padding: 12px;
  height: 161px;
  border-radius: 5px;
  border: 1px solid rgba(39, 41, 55, 0.12);
  background: $white;

  .image-container {
    width: 24px;
    height: 24px;
  }
}

img.icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

button {
  &.save {
    width: 89px;
    background-color: $white;
    color: $blue;
    border: 1px solid $dark-filtered;
  }
}
