
:host {
  position: relative;
}

.pikky-card {
  width: 283px;
  padding: 12px;
  height: 161px;
  border-radius: 5px;
  border: 1px solid var(--pikky-card-boder-color);
  background: var(--pikky-color-white);

  .image-container {
    width: 24px;
    height: 24px;
  }
}

img.icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

button {
  &.save {
    width: 89px;
    background-color: var(--pikky-color-white);
    color: var(--pikky-color-blue);
    border: 1px solid var(--pikky-color-dark-filtered);
  }
}
