@import 'src/assets/styles/variables';

:host {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100vw;
  bottom: 32px;
}

.panel {
  display: inline-flex;
  padding: 16px;
  align-items: flex-start;
  gap: 11px;
  background: $secondary-white;

  button {
    width: 179px;

    &.panel-card-create {
      color: $white;
      background-color: $dark;
    }
    &.panel-card-upload {
      color: $dark;
      background-color: $white;
    }
  }
}
