
:host {
  position: fixed;
  z-index: 5;
  display: flex;
  justify-content: center;
  width: 100vw;
  bottom: 32px;
}

.panel {
  display: inline-flex;
  padding: 16px;
  align-items: flex-start;
  gap: 11px;
  background: var(--pikky-secondary-white);

  button {
    width: 179px;

    &.panel-card-create {
      color: var(--pikky-color-white);
      background-color: var(--pikky-color-dark);
    }
    &.panel-card-upload {
      color: var(--pikky-color-dark);
      background-color: var(--pikky-color-white);
    }
  }
}
