
:host {
  position: fixed;
  z-index: 10;
}

.start-panel {
  width: fit-content;
  border-radius: 5px;
  border: 1px solid var(--pikky-card-boder-color);
  background: var(--pikky-color-white);
  padding: 8px 64px 8px 16px;

  &__ready {
    color: var(--pikky-text-color);

    &__avatar {
      width: 20px;
      height: 20px;
    }
  }

  button {
    color: var(--pikky-color-white);
    background-color: var(--pikky-color-blue);
    padding: 12px 17px;
  }
}
