:root {
  --pikky-color-white: #FFFFFF;
  --pikky-color-blue: #0066FF;
  --pikky-color-dark: #272937;
  --pikky-color-dark-filtered: #2729371F;
  --pikky-secondary-white: #F3F3F9;
  --pikky-sidebar-bg: #F8F8FB;
  --pikky-card-boder-color: rgba(39, 41, 55, 0.12);
  --pikky-text-color: rgba(39, 41, 55, 0.40);
}
