$white: #FFFFFF;
$blue: #0066FF;
$dark: #272937;
$dark-filtered: #2729371F;
$secondary-white: #F3F3F9;
$sidebar-bg: #F8F8FB;
$card-border-color: rgba(39, 41, 55, 0.12);
$text-color: rgba(39, 41, 55, 0.40);
